<!DOCTYPE html>
<html lang="en">
    <!--[if lt IE 7]>      <html class="no-js lt-ie9 lt-ie8 lt-ie7"> <![endif]-->
    <!--[if IE 7]>         <html class="no-js lt-ie9 lt-ie8"> <![endif]-->
    <!--[if IE 8]>         <html class="no-js lt-ie9"> <![endif]-->

    <head>
        {% block head %}

            {% block meta %}
                <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" charset="utf-8" />
                <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                <meta name="description" content="Application description goes here." />
                <meta name="keywords" content="space delimited keywords" />
                <!-- Apple -->
                <meta name="apple-mobile-web-app-capable" content="yes" />
                <meta name="apple-mobile-web-app-status-bar-style" content="black" />
                <!-- Microsoft -->
                <meta name="application-name" content="Very Short Application Name">
                <meta name="msapplication-tooltip" content="Application description goes here">
                <meta name="msapplication-TileImage" content="{{ asset('bundles/mesdpresentationpresentation/ico/microsoft-windows-tile.png') }}"/>
                <meta name="msapplication-TileColor" content="#e6e6e6"/>
            {% endblock meta %}

            {% block title %}
                <title>{{ app_abbrev }}</title>
            {% endblock title %}

            {% block stylesheets %}
                {% stylesheets
                    '@MESDPresentationPresentationBundle/Resources/public/less/*'
                    filter='less'
                    output='bundles/mesdpresentationpresentation/css/orchestra-less.min.css' %}
                    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
                {% endstylesheets %}
                {% stylesheets
                    '@MESDPresentationPresentationBundle/Resources/public/css/orchestra-0.1.css'
                    filter='cssrewrite' %}
                    <link rel="stylesheet" href="{{ asset_url }}" />
                {% endstylesheets %}
            {% endblock stylesheets %}

            {% block icons %}
                <link rel="shortcut icon" href="{{ asset('bundles/mesdpresentationpresentation/ico/favicon.ico') }}" />
                <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/mesdpresentationpresentation/ico/apple-touch-icon-144x144-precomposed.png') }}" />
                <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/mesdpresentationpresentation/ico/pple-touch-icon-114x114-precomposed.png') }}" />
                <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/mesdpresentationpresentation/ico/apple-touch-icon-72x72-precomposed.png') }}" />
                <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('bundles/mesdpresentationpresentation/ico/apple-touch-icon-57x57-precomposed.png') }}" />
                <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/mesdpresentationpresentation/ico/apple-touch-icon-precomposed.png') }}" />
                <link rel="apple-touch-icon" href="{{ asset('bundles/mesdpresentationpresentation/ico/apple-touch-icon.png') }}" />
            {% endblock icons %}

            {% block sitemap %}
                <!--<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">-->
            {% endblock sitemap %}

            {% block shiv %}
                <script src="{{ asset('bundles/mesdpresentationpresentation/js/modernizr/modernizr-2.6.2.js') }}"></script>
            {% endblock shiv %}

        {% endblock head %}
    </head>

        <body>
            {% block body %}

                <header id="header">
                    {% block navbar %}
                        <nav id="nav" class="navbar">
                            <div class="navbar-fixed-top">
                                <div class="navbar-inner">
                                    {% block navbarContent %}
                                    {% endblock navbarContent %}
                                </div><!-- END navbar-inner -->
                            </div><!-- END navbar-fixed-top -->
                        </nav><!-- END nav, navbar -->
                    {% endblock navbar %}
                </header>

                <div id="container" class="wrapper-outer">
                    <div class="wrapper-inner">
                        {% block container %}
                        {% endblock container %}
                    </div>
                </div><!-- END container -->

                {% block footer %}
                    <footer id="footer" class="navbar">
                        <div class="navbar-fixed-bottom">
                            <div class="navbar-inner">
                                <div class="row-fluid">
                                    {% block footerContent %}
                                    <div class="footer-left span4">
                                    <p>
                                        <small>&copy; {{ "now"|date("Y") }} <span title="{{ org_name }}">{{ org_abbrev }}</span><br />{{ org_address }}</small>
                                    </p>
                                </div>
                                <div class="footer-center span4">
                                    <p>
                                        <small>version: {{ version }}</small>
                                    </p>
                                </div>
                                <div class="footer-right span4">
                                    <p>
                                        <small>more stuff</small>
                                    </p>
                                </div>
                                    {% endblock footerContent %}
                                </div>
                            </div><!-- END navbar-inner -->
                        </div><!-- END navbar-fixed-bottom -->
                    </footer><!-- END footer, navbar -->
                {% endblock footer %}

                {% block javascripts %}
                    {% javascripts '@MESDPresentationPresentationBundle/Resources/public/js/jquery/*'
                                   '@MESDPresentationPresentationBundle/Resources/public/js/bootstrap/*'
                                   '@MESDPresentationPresentationBundle/Resources/public/js/cookie/*'
                                   '@MESDPresentationPresentationBundle/Resources/public/js/introjs/*'
                                   '@MESDPresentationPresentationBundle/Resources/public/js/orchestra-0.1.js'
                                   output='bundles/mesdpresentationpresentation/js/orchestra.min.js' %}
                        <script type="text/javascript" src="{{ asset_url }}"></script>
                    {% endjavascripts %}
                {% endblock javascripts %}

                {% block analytics %}
                    <script>
                        var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
                        (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                        s.parentNode.insertBefore(g,s)}(document,'script'));
                    </script>
                {% endblock analytics%}

            {% endblock body %}
        </body>

</html>
