<!DOCTYPE html>
    <html profile="http://dublincore.org" lang="{{ app.request.locale }}"{% if ngApp is defined %} data-ng-app="{{ ngApp }}"{% endif %}>
        <head>
            {% block head %}

                {% block meta %}
                    {% include 'MesdPresentationBundle:Block:meta.html.twig' %}
                {% endblock meta %}

                {% block title %}
                    {% include 'MesdPresentationBundle:Block:title.html.twig' %}
                {% endblock title%}

                {% block stylesheets %}
                    {% include 'MesdPresentationBundle:Block:stylesheets.html.twig' %}
                {% endblock stylesheets %}

                {% block icons %}
                    {% include 'MesdPresentationBundle:Block:icons.html.twig' %}
                {% endblock icons %}

                {% block sitemap %}
                    {% include 'MesdPresentationBundle:Block:sitemap.html.twig' %}
                {% endblock sitemap %}

                {% block shiv %}
                    <script src="{{ asset('bundles/mesdpresentation/js/modernizr/modernizr-2.6.2.js') }}"></script>
                {% endblock shiv %}

            {% endblock head %}
        </head>

        <body>
            {% block body %}

                {% block header %}
                    <header id="header">
                        {% block navbar %}
                            <nav id="nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
                                {% block navbarContent %}
                                    <div class="navbar-header">
                                        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar-main">
                                            <span class="sr-only">Toggle navigation</span>
                                            <span class="fa fa-bars"></span>
                                        </button>
                                        <a class="brand" href="#">
                                            {% block navbarContentLogo %}
                                                <img src="{{ asset('bundles/mesdpresentation/img/orchestra_logo_sml.png') }}" alt="Orchestra"/>
                                            {% endblock navbarContentLogo %}
                                        </a>
                                    </div>

                                    <div class="collapse navbar-collapse main-collapse" id="navbar-main">
                                        {% block navbarContentLeft %}
                                            {% include 'MesdPresentationBundle::navLinks.html.twig' %}
                                        {% endblock navbarContentLeft %}
                                        <ul class="nav navbar-nav navbar-right">
                                            {% block navbarContentRight %}
                                                {% block navbarContentWidgets %}
                                                    {% include 'MesdPresentationBundle::searchBar.html.twig' %}
                                                {% endblock navbarContentWidgets %}
                                                {% block useMenu %}
                                                    {% include 'MesdPresentationBundle::userMenu.html.twig' %}
                                                {% endblock useMenu %}
                                            {% endblock navbarContentRight %}
                                        </ul>
                                    </div><!-- END nav-collapse -->
                                {% endblock navbarContent %}
                            </nav><!-- END nav, navbar -->
                        {% endblock navbar %}
                    </header>
                {% endblock header %}

                {% block containerOuter %}
                    <div id="container-outer" class="container-outer wrapper">
                        {% block sidebarOuter %}
                            {# conditional added Aug 05 2014 by DL #}
                            {# Probably a better blocking strategy #}
                            {# to allow overridding just the inner #}
                            {# is appropriate will wait for CH     #}
                            {# resolution                          #}
                        <aside id="sidebar" class="{% if sidebarclass is defined%}{{ sidebarclass }}{% else %}sidebar{% endif %}" style="width: {{app.request.cookies.get('MesdPresentationSidebarSize')}}px;">
                            {% block sidebarInner %}
                                {{ render(controller('MesdPresentationBundle:Default:sidebar', {
                                    'route': app.request.get('_route'),
                                    'options': { 'type': '' },
                                    'menu': {
                                        'Fluid Grid': {
                                            'path': '#fluidGridSystem',
                                            'title': 'fluid grid',
                                            'icon': 'fa fa-desktop'
                                        },
                                        'Responsive': {
                                            'path': '#responsive',
                                            'title': 'responsive',
                                            'icon': 'fa fa-mobile-phone'
                                        },
                                        'Typography': {
                                            'path': '#typography',
                                            'title': 'typography',
                                            'icon': 'fa fa-font'
                                        },
                                        'Table': {
                                            'path': '#tables',
                                            'title': 'table',
                                            'icon': 'fa fa-table'
                                        },
                                        'Form': {
                                            'path': '#forms',
                                            'title': 'form',
                                            'icon': 'fa fa-list-alt'
                                        }
                                    }}))
                                }}
                            {% endblock sidebarInner %}
                        </aside>
                        {% endblock sidebarOuter %}
                        {% block containerInner %}
                            <section id="container-inner" class="container-inner container-fluid" style="margin-left: {{app.request.cookies.get('MesdPresentationSidebarSize')}}px;">

                                {% block toolbarTop %}
                                    <div id="toolbar-top" class="toolbar section section-white">
                                        {% block toolbarTopLeft %}
                                            {% block breadcrumbWidget %}
                                                <ul class="breadcrumb">
                                                    {{ render(controller('MesdPresentationBundle:Breadcrumb:index', {'request': app.request})) }}
                                                </ul>
                                            {% endblock breadcrumbWidget %}
                                        {% endblock toolbarTopLeft %}
                                        {% block toolbarTopRight %}
                                        {% endblock toolbarTopRight %}
                                    </div>
                                {% endblock toolbarTop %}

                                {% block flashMessage %}
                                    {% for type in ['danger', 'warning', 'info', 'success'] %}
                                        {% for flashMessage in app.session.flashbag.get(type) %}
                                            {% if flashMessage is defined %}
                                                <div class="{{"alert alert-dismissable alert-"~type}}">
                                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                                    {{ flashMessage|raw }}
                                                </div>
                                            {% endif %}
                                        {% endfor %}
                                    {% endfor %}
                                {% endblock flashMessage %}

                                {% block content %}
                                    <div id="content" class="content section section-white">
                                        <div class="section-header">
                                            {% block contentHeader %}
                                                {% block pageTitle %}
                                                    <h1 class="page-title">{% if pageTitle is defined %}{{ pageTitle|raw }}{% endif %}
                                                        {% block pageSubtitle %}
                                                            {% if pageSubtitle is defined %}<small>{{ pageSubtitle|raw }}</small>{% endif %}
                                                        {% endblock pageSubtitle %}
                                                    </h1>
                                                {% endblock pageTitle %}
                                            {% endblock contentHeader %}
                                        </div>
                                        <div class="section-body">
                                            {% block contentBody %}
                                            {% endblock contentBody %}
                                        </div>
                                        <div class="section-footer">
                                            {% block contentFooter %}
                                            {% endblock contentFooter %}
                                        </div>
                                    </div><!-- END content -->
                                {% endblock content %}

                                {% block toolbarBottom %}
                                    <div id="toolbar-bottom" class="toolbar section section-white">
                                        {% block toolbarBottomLeft %}
                                        {% endblock toolbarBottomLeft %}
                                        {% block toolbarBottomCenter %}
                                        {% endblock toolbarBottomCenter %}
                                        {% block toolbarBottomRight %}
                                        {% endblock toolbarBottomRight %}
                                    </div>
                                {% endblock toolbarBottom %}

                            </section><!-- END content -->
                            <!--<hr class="eop" />-->
                        {% endblock containerInner %}

                    </div><!-- END container-outer -->
                {% endblock containerOuter %}

                {% block footer %}
                    <footer id="footer" class="navbar navbar-default navbar-fixed-bottom">
                        {% block footerContent %}
                            <div class="row">
                                <div class="footer-left col-md-1-3">
                                    {% block footerContentLeft %}
                                        <p class="h-card">
                                            <span>&copy; {{ "now"|date("Y") }}</span>
                                            <abbr class="p-name name" title="{{ mesd_presentation_org_name }}">{{ mesd_presentation_org_abbreviation }}</abbr>
                                            <span class="p-adr adr">{{ mesd_presentation_org_address }}</span>
                                        </p>
                                    {% endblock footerContentLeft %}
                                </div>
                                <div class="footer-center col-md-1-3">
                                    {% block footerContentCenter %}
                                        <p>version: {{ mesd_presentation_app_version }}</p>
                                    {% endblock footerContentCenter %}
                                </div>
                                <div class="footer-right col-md-1-3">
                                    {% block footerContentRight %}
                                        <p>
                                            <a href="#" title="about">About</a>
                                            <span class="divider">|</span>
                                            <a href="#" title="terms">Terms</a>
                                            <span class="divider">|</span>
                                            <a href="#" title="privacy">Privacy</a>
                                            <span class="divider">|</span>
                                            <a href="#" title="security">Security</a>
                                        </p>
                                    {% endblock footerContentRight %}
                                </div>
                            </div><!-- END row -->
                        {% endblock footerContent %}
                    </footer><!-- END footer, navbar -->
                {% endblock footer %}

                {% block javascripts %}
                    {% include 'MesdPresentationBundle:Block:javascripts.html.twig' %}
                {% endblock javascripts %}

                {% block analytics %}
                    {% include 'MesdPresentationBundle:Block:analytics.html.twig' %}
                {% endblock analytics %}
            {% endblock body %}
        </body>

    </html>
