{% trans_default_domain mesd_presentation.trans_domain %}

{% block _html %}
<!DOCTYPE html>
<html lang="{{ app.request.locale }}">
{% block html %}

{% block _head %}
<head>
{% block head %}

    {% block metas %}
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <meta name="keyword" content="">
    {% endblock metas %}

    {% block title %}
    <title>
    {% if page_title is defined and page_title is not empty %}
        {% if page_subtitle is defined and page_subtitle is not empty %}
            {{ page_subtitle }} {{ page_title }} | {{ mesd_presentation.app_name }}
        {% else %}
            {{ page_title }} | {{ mesd_presentation.app_name }}
        {% endif %}
    {% else %}
        {% if mesd_presentation.app_name is not empty %}
            {{ mesd_presentation.app_name }}
        {% else %}
            {{ 'no.title.set'|trans }}
        {% endif %}
    {% endif %}
    </title>
    {% endblock title %}

    {% block icos %}
    <link rel="icon" href="{{ asset('favicon.ico') }}">
    {% endblock icos %}

    {% block fonts %}
    {% endblock fonts %}

    {% block stylesheets %}
    {#}
    {% stylesheets
        '@jquery_ui_css'
        '@bootstrap_css'
        '@font_awesome_css'
        '@admin_lte_css'
        '@fixes_css'
        '@datatables_css'
        '@fullcalendar_css'
        '@eonasdan_dtpicker_css'
    %}
        <link rel="stylesheet" href="{{ asset_url }}">
    {% endstylesheets %}
    {#}
    <link rel="stylesheet" type="text/css" href="{{ asset('node_modules/bootstrap/dist/css/bootstrap.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('node_modules/font-awesome/css/font-awesome.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('node_modules/selectize/dist/css/selectize.bootstrap3.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('node_modules/eonasdan-bootstrap-datetimepicker/build/css/bootstrap-datetimepicker.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('node_modules/admin-lte/dist/css/AdminLTE.css') }}">
    <link rel="stylesheet" type="text/css" href="{{ asset('node_modules/admin-lte/dist/css/skins/_all-skins.css') }}">
    {% endblock stylesheets %}

    {% block pagestyles %}
    {% endblock pagestyles %}

    {% block headextra %}
    {% endblock headextra %}

{% endblock head %}
</head>
{% endblock _head %}

{% block _body %}
<body class="skin-blue sidebar-mini">{# settings, cookies, etc to set attributes here #}
    <div class="wrapper">{# settings, cookies, etc to set attributes here (ie vue id) #}
{% block body %}

    {#
    Header Options
    '.header-fixed' - Fixed Header
    #}
    {% block _header %}
    <header class="main-header">
    {% block header %}
        <a class="logo" href="{{ path('homepage') }}">
            <span class="logo-mini">1-1</span>
            <span class="logo-lg">OneOne</span>
        </a>
        <nav class="navbar navbar-static-top">
            <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
                <span class="sr-only">Toggle navigation</span>{#☰#}
            </a>
            <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>
            </ul>
        </nav>
    {% endblock header %}
    </header>
    {% endblock _header %}

    {#
    Sidebar Options
    '.sidebar-fixed'      - Fixed Sidebar
    '.sidebar-hidden'     - Hidden Sidebar
    '.sidebar-off-canvas' - Off Canvas Sidebar
    '.sidebar-minimized'  - Minimized Sidebar (Icons Only)
    '.sidebar-compact'    - Compact Sidebar
    #}
    {% block _leftaside %}
    <aside class="main-sidebar">
        <section class="sidebar">
            {% block leftaside %}
            {#{{ knp_menu_render('main', {'depth': 2, 'currentAsLink': false}) }}#}
            <ul class="sidebar-menu-tree">
                <li class="nav-item">
                    <a class="nav-link" href="index.html"><i class="icon-speedometer"></i> Dashboard <span class="badge badge-info">NEW</span></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="...">...</a>
                </li>
            </ul>
            {% endblock leftaside %}
        </section>
    </aside>
    {% endblock _leftaside %}

    {% block _wrapper %}
    <div class="content-wrapper">
    {% block wrapper %}

        {% block _main %}
        <main class="">
        {% block main %}

            {% block contentheader %}
            <section class="content-header">
                {% if page_title is defined and page_title is not empty %}<h1 class="page-header">{% if page_icon is defined and page_icon is not empty %}<i class="fa fa-{{ page_icon }}"></i>&nbsp; {% endif %}{% if page_label is defined and page_label is not empty %}<span class="label label-{{ page_label.variant is defined and page_label is not empty ? page_label.variant : 'default' }}">{{ page_label.text }}</span>&nbsp; {% endif %}{{ page_title }}{% if page_subtitle is defined and page_subtitle is not empty %}&nbsp; <small>{{ page_subtitle }}</small>{% endif %}</h1>{% endif %}
                {% block contentheaderbreadcrumb %}
                <ol class="breadcrumb">
                    <li><a href="#"><i class="fa fa-dashboard"></i> Home</a></li>
                    <li><a href="#">Layout</a></li>
                    <li class="active">Page</li>
                </ol>
                {% endblock contentheaderbreadcrumb %}
            </section>
            {% endblock contentheader %}

            {% block _contentbody %}
            <section class="content">
                {% block flashes %}
                    {% set flash_types = ['info', 'success', 'warning', 'danger'] %}
                    {% for flash_type in flash_types %}
                        {% if 0 < app.session.flashBag.peek(flash_type)|length %}
                            <div class="alert alert-{{ flash_type }} alert-dismissible" role="alert">
                                <button type="button" class="close" data-dismiss="alert" aria-label="Close">
                                    <span aria-hidden="true">&times;</span>
                                </button>
                                {% for flash_msg in app.session.flashBag.get(flash_type) %}<div>{{ flash_msg|raw }}</div>{% endfor %}
                            </div>
                        {% endif %}
                    {% endfor %}
                    {# the following clears all remaining flashes, this should be a var set in config #}
                    {% do app.session.flashBag.clear() %}
                {% endblock flashes %}

            {% block contentbody %}
            {% endblock contentbody %}
            {% block contentfooter %}
            {% endblock contentfooter %}
            </section>
            {% endblock _contentbody %}

        {% endblock main %}
        </main>
        {% endblock _main %}

        {#
        Aside Options
        '.aside-menu-fixed'      - Fixed Aside Menu
        '.aside-menu-hidden'     - Hidden Aside Menu
        '.aside-menu-off-canvas' - Off Canvas Aside Menu
        #}
        {% block _rightaside %}
        <aside class="aside-menu">
        {% block rightaside %}
        {% endblock rightaside %}
        </aside>
        {% endblock _rightaside %}

    {% endblock wrapper %}
    </div>
    {% endblock _wrapper %}

    {#
    Footer Options
    'footer-fixed' - Fixed Footer
    #}
    {% block _footer %}
    <footer class="app-footer">
    {% block footer %}
        <span class="pull-right hidden-xs"><b>Version</b> 0.1.0</span>
        <strong>{{ 'copyright'|trans }} &copy; {{ 'now'|date('Y') }}&nbsp;</strong>
        {{ 'all.rights.reserved'|trans }}
    {% endblock footer %}
    </footer>
    {% endblock _footer %}

    {% block modals %}
    {% endblock modals %}

    {% block javascripts %}
        <script type="text/javascript" src="{{ asset('node_modules/jquery/dist/jquery.js') }}"></script>
        <script type="text/javascript" src="{{ asset('node_modules/bootstrap/dist/js/bootstrap.js') }}"></script>
        <script type="text/javascript" src="{{ asset('node_modules/admin-lte/dist/js/adminlte.js') }}"></script>
        <script type="text/javascript" src="{{ asset('node_modules/moment/moment.js') }}"></script>
        <script type="text/javascript" src="{{ asset('node_modules/fullcalendar/dist/fullcalendar.js') }}"></script>
        <script type="text/javascript" src="{{ asset('node_modules/selectize/dist/js/standalone/selectize.js') }}"></script>
        <script type="text/javascript" src="{{ asset('node_modules/eonasdan-bootstrap-datetimepicker/build/js/bootstrap-datetimepicker.min.js') }}"></script>
        <script src="{{ asset('bundles/fosjsrouting/js/router.js') }}"></script>
        <script src="{{ path('fos_js_routing_js', { callback: 'fos.Router.setData' }) }}"></script>
        {#<script src="{{ asset('node_modules/admin-lte/dist/js/app.js') }}"></script>#}
    {#
        {% javascripts
            '@jquery_js'
            '@tether_js'
            '@bootstrap_js'
            '@pace_js'
            '@moment_js'
            '@datatables_js'
            '@fullcalendar_js'
            '@mousetrap_js'
        %}
            <script src="{{ asset_url }}"></script>
        {% endjavascripts %}
    #}
    {% endblock javascripts %}

    {% block pagescripts %}
    {% endblock pagescripts %}

{% endblock body %}
</body>
{% endblock _body %}

{% endblock html %}
</html>
{% endblock _html %}
