<!DOCTYPE html>
    <html profile="http://dublincore.org" lang="{{ app.request.locale }}"{% if ngApp is defined %} data-ng-app="{{ ngApp }}"{% endif %}>
        <head>
            {% block head %}
                {% block meta %}
                    <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1" charset="utf-8" />
                    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
                    <meta name="application-name" content="{{ app_name }}"/>
                    <meta name="description" content="{{ app_description }}" />
                    <meta name="keywords" content="{{ app_keywords }}" />
                    <link rel="schema.DC" href="http://purl.org/dc/elements/1.1/">
                    <meta name="DC.title" content="{{ app_name }}">
                    <meta name="DC.identifier" content="{{ app_url }}">
                    <meta name="DC.description" content="{{ app_description }}">
                    <meta name="DC.subject" content="{{ app_keywords }}">
                    <meta name="DC.language" scheme="ISO639-1" content="{{ app.request.locale }}">
                    <meta name="DC.creator" content="{{ org_url }}">
                    <meta name="DC.contributor" content="{{ org_url }}">
                    <meta name="DC.publisher" content="{{ org_url }}">
                    <meta name="DC.license" content="{{ app_license_url_1 }}">
                    <meta name="DC.license" content="{{ app_license_url_2 }}">
                    <meta name="DC.type" scheme="DCMITYPE" content="http://purl.org/dc/dcmitype/Collection">
                    <meta name="DC.type" scheme="DCMITYPE" content="http://purl.org/dc/dcmitype/Dataset">
                    <meta name="DC.type" scheme="DCMITYPE" content="http://purl.org/dc/dcmitype/InteractiveResource">
                    <meta name="DC.type" scheme="DCMITYPE" content="http://purl.org/dc/dcmitype/Text">
                    <meta name="DC.relation" content="{{ app_url }}">
                    <link rel="schema.DCTERMS" href="http://purl.org/dc/terms/" />
                    <meta name="DCTERMS.created" scheme="ISO8601" content="{{ "now"|date("Y-m-d") }}">
                <!-- Apple -->
                    <meta name="apple-mobile-web-app-capable" content="yes" />
                    <meta name="apple-mobile-web-app-status-bar-style" content="black" />
                <!-- Microsoft -->
                    <meta name="msapplication-tooltip" content="{{ app_description }}"/>
                    <meta name="msapplication-TileColor" content="#e6e6e6"/>
                <!-- Google -->
                    <meta name="google" content="notranslate">
                <!-- License and Copyright -->
                    <meta name="dcterms:rights" content="{{ app_license_1 }}">
                    <meta name="dcterms:rights" content="{{ app_license_2 }}">
                {% endblock meta %}

                {#}
                {% block title %}
                    <title>{{ subtitle ~ ' | ' ~ app_abbreviation|default(app_abbreviation) }}</title>
                {% endblock title %}
                {#}

                <title>
                    {% block title %}
                        {% if subtitle is defined %}
                            {{ subtitle ~ ' | ' }}
                        {% endif %}
                    {% endblock title %}
                    {{ app_abbreviation }}
                </title>

                {% block stylesheets %}
                    {% stylesheets
                    '@MESDPresentationPresentationBundle/Resources/public/less/theme.less'
                    filter='less'
                    output='bundles/mesdpresentationpresentation/css/orchestra-less.min.css' %}
                    <link href="{{ asset_url }}" type="text/css" rel="stylesheet" media="all" />
                    {% endstylesheets %}
                    {% stylesheets
                    '@MESDPresentationPresentationBundle/Resources/public/css/orchestra-0.1.css'
                    filter='cssrewrite' %}
                    <link rel="stylesheet" href="{{ asset_url }}" />
                    {% endstylesheets %}
                    {% stylesheets
                    '@MESDPresentationPresentationBundle/Resources/public/css/introjs/*'
                    filter='cssrewrite' %}
                    <link rel="stylesheet" href="{{ asset_url }}" />
                    {% endstylesheets %}
                {% endblock stylesheets %}

                {% block icons %}
                    <link rel="shortcut icon" href="{{ asset('bundles/mesdpresentationpresentation/ico/favicon.ico') }}" />
                    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="{{ asset('bundles/mesdpresentationpresentation/ico/apple-touch-icon-144x144-precomposed.png') }}" />
                    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="{{ asset('bundles/mesdpresentationpresentation/ico/pple-touch-icon-114x114-precomposed.png') }}" />
                    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="{{ asset('bundles/mesdpresentationpresentation/ico/apple-touch-icon-72x72-precomposed.png') }}" />
                    <link rel="apple-touch-icon-precomposed" sizes="57x57" href="{{ asset('bundles/mesdpresentationpresentation/ico/apple-touch-icon-57x57-precomposed.png') }}" />
                    <link rel="apple-touch-icon-precomposed" href="{{ asset('bundles/mesdpresentationpresentation/ico/apple-touch-icon-precomposed.png') }}" />
                    <link rel="apple-touch-icon" href="{{ asset('bundles/mesdpresentationpresentation/ico/apple-touch-icon.png') }}" />
                    <meta name="msapplication-TileImage" content="{{ asset('bundles/mesdpresentationpresentation/ico/microsoft-windows-tile-144x144.png') }}"/>
                    <meta name="msapplication-square70x70logo" content="{{ asset('bundles/mesdpresentationpresentation/ico/microsoft-windows-square-70x70.png') }}"/>
                    <meta name="msapplication-square150x150logo" content="{{ asset('bundles/mesdpresentationpresentation/ico/microsoft-windows-square-150x150.png') }}"/>
                    <meta name="msapplication-wide310x150logo" content="{{ asset('bundles/mesdpresentationpresentation/ico/microsoft-windows-wide-310x150.png') }}"/>
                    <meta name="msapplication-square310x310logo" content="{{ asset('bundles/mesdpresentationpresentation/ico/microsoft-windows-square-310x310.png') }}"/>
                {% endblock icons %}

                {% block sitemap %}
                    <meta name="robots" content="noarchive" /><!-- robot, no archiving! -->
                    <meta name="googlebot" content="noarchive" /><!-- you neither google -->
                    <meta name="googlebot-mobile" content="noarchive" /><!-- i shouldn't have to tell you twice -->
                    <meta name="slurp" content="noarchive" /><!-- or you yahoo -->
                    <meta name="bingbot" content="noarchive" /><!-- or microsoft -->
                    <meta name="baiduspider" content="noarchive" /><!-- or especially, you china -->
                <!--<link rel="sitemap" type="application/xml" title="Sitemap" href="/sitemap.xml">-->
                {% endblock sitemap %}

                {% block shiv %}
                    <script src="{{ asset('bundles/mesdpresentationpresentation/js/modernizr/modernizr-2.6.2.js') }}"></script>
                {% endblock shiv %}

            {% endblock head %}
        </head>

        <body>
            {% block body %}

                <header id="header">
                    {% block navbar %}
                        <nav id="nav" class="navbar navbar-default navbar-fixed-top" role="navigation">
                            {% block navbarContent %}
                            {% endblock navbarContent %}
                        </nav><!-- END nav, navbar -->
                    {% endblock navbar %}
                </header>

                <div id="container" class="wrapper">
                    {% block container %}
                    {% endblock container %}
                </div><!-- END container -->

                {% block footer %}
                    <footer id="footer" class="navbar navbar-default navbar-fixed-bottom">
                        <div class="row">
                            {% block footerContent %}
                                <div class="footer-left col-md-4">
                                    <p class="h-card">
                                        <span>&copy; {{ "now"|date("Y") }}</span>
                                        <abbr class="p-name name" title="{{ org_name }}">{{ org_abbreviation }}</abbr>
                                        <span class="p-adr adr">{{ org_address }}</span>
                                    </p>
                                </div>
                                <div class="footer-center col-md-4">
                                    <p>version: {{ app_version }}</p>
                                </div>
                                <div class="footer-right col-md-4">
                                    <p>
                                        <a href="#" title="about">About</a>
                                        <a class="divider" disabled="disabled"></a>
                                        <a href="#" title="terms">Terms</a>
                                        <a class="divider" disabled="disabled"></a>
                                        <a href="#" title="privacy">Privacy</a>
                                        <a class="divider" disabled="disabled"></a>
                                        <a href="#" title="security">Security</a>
                                    </p>
                                </div>
                            {% endblock footerContent %}
                        </div>
                    </footer><!-- END footer, navbar -->
                {% endblock footer %}

                {% block javascripts %}
                    {% javascripts
                        '@MESDPresentationPresentationBundle/Resources/public/js/jquery/*'
                        '@MESDPresentationPresentationBundle/Resources/public/js/bootstrap/*'
                        '@MESDPresentationPresentationBundle/Resources/public/js/cookie/*'
                        '@MESDPresentationPresentationBundle/Resources/public/js/introjs/*'
                        '@MESDPresentationPresentationBundle/Resources/public/js/elementqueries/*'
                        '@MESDPresentationPresentationBundle/Resources/public/js/orchestra.js'
                        output='bundles/mesdpresentationpresentation/js/orchestra.min.js'
                        %}
                        <script type="text/javascript" src="{{ asset_url }}"></script>
                    {% endjavascripts %}
                {% endblock javascripts %}

                {% block analytics %}
                    <script>
                    var _gaq=[['_setAccount','UA-XXXXX-X'],['_trackPageview']];
                    (function(d,t){var g=d.createElement(t),s=d.getElementsByTagName(t)[0];
                        g.src=('https:'==location.protocol?'//ssl':'//www')+'.google-analytics.com/ga.js';
                        s.parentNode.insertBefore(g,s)}(document,'script'));
                    </script>
                {% endblock analytics %}

            {% endblock body %}
        </body>

    </html>
