{% extends 'MesdPresentationBundle::index.html.twig' %}

{% block containerOuter %}
    <div id="container-outer" class="container-outer wrapper">

        {% block containerInner %}
            <section id="container-inner" class="container-inner container-inner-full container-fluid">

                {% block toolbarTop %}
                    <div id="toolbar-top" class="toolbar section section-white">
                        {% block toolbarTopLeft %}
                            {% block breadcrumbWidget %}
                                <ul class="breadcrumb">
                                    {{ render(controller('MesdPresentationBundle:Breadcrumb:index', {'request': app.request})) }}
                                </ul>
                            {% endblock breadcrumbWidget %}
                        {% endblock toolbarTopLeft %}
                        {% block toolbarTopRight %}
                        {% endblock toolbarTopRight %}
                    </div>
                {% endblock toolbarTop %}

                {% block flashMessage %}
                    {% for type in ['danger', 'warning', 'info', 'success'] %}
                        {% for flashMessage in app.session.flashbag.get(type) %}
                            {% if flashMessage is defined %}
                                <div class="{{"alert alert-dismissable alert-"~type}}">
                                    <button type="button" class="close" data-dismiss="alert" aria-hidden="true">&times;</button>
                                    {{ flashMessage|raw }}
                                </div>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                {% endblock flashMessage %}

                {% block content %}
                    <div id="content" class="content section section-white">
                        <div class="section-header">
                            {% block contentHeader %}
                                {% block pageTitle %}
                                    <h1 class="page-title">{% if pageTitle is defined %}{{ pageTitle|raw }}{% endif %}
                                        {% block pageSubtitle %}
                                            {% if pageSubtitle is defined %}<small>{{ pageSubtitle|raw }}</small>{% endif %}
                                        {% endblock pageSubtitle %}
                                    </h1>
                                {% endblock pageTitle %}
                            {% endblock contentHeader %}
                        </div>
                        <div class="section-body">
                            {% block contentBody %}
                            {% endblock contentBody %}
                        </div>
                        <div class="section-footer">
                            {% block contentFooter %}
                            {% endblock contentFooter %}
                        </div>
                    </div><!-- END content -->
                {% endblock content %}

                {% block toolbarBottom %}
                    <div id="toolbar-bottom" class="toolbar section section-white">
                        {% block toolbarBottomLeft %}
                        {% endblock toolbarBottomLeft %}
                        {% block toolbarBottomCenter %}
                        {% endblock toolbarBottomCenter %}
                        {% block toolbarBottomRight %}
                        {% endblock toolbarBottomRight %}
                    </div>
                {% endblock toolbarBottom %}

            </section><!-- END content -->
            <!--<hr class="eop" />-->
        {% endblock containerInner %}

    </div><!-- END container-outer -->
{% endblock containerOuter %}