{% extends 'MESDPresentationPresentationBundle::base.html.twig' %}
{% block navbarContent %}
    <div class="navbar-header">
        <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="navbar-main">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </button>
        {% block appLogo %}
            <a class="brand" href="#">
                <img src="{{ asset('bundles/mesdpresentationpresentation/img/orchestra_logo_sml.png') }}" alt="Orchestra"/>
            </a>
        {% endblock appLogo %}
    </div>

    <div class="collapse navbar-collapse main-collapse" id="navbar-main">
        {% block navLinks %}
            {% include 'MESDPresentationPresentationBundle::navLinks.html.twig' %}
        {% endblock navLinks %}
        <span class="pull-right">
            {% block searchBar %}
                {% include 'MESDPresentationPresentationBundle::searchBar.html.twig' %}
            {% endblock searchBar %}
            {% block userMenu %}
                {% include 'MESDPresentationPresentationBundle::userMenu.html.twig' %}
            {% endblock userMenu %}
        </span>
    </div><!-- END nav-collapse -->
{% endblock navbarContent %}

{% block container %}

    {% block sidebar %}
        {{ render(controller('MESDPresentationPresentationBundle:Default:sidebar', {
            'route': app.request.get('_route'),
            'options': { 'type': '' },
            'menu': {
                'Fuid Grid': {
                    'path': '#fluidGridSystem',
                    'title': 'fluid grid',
                    'icon': 'fa fa-desktop'
                },
                'Responsive': {
                    'path': '#responsive',
                    'title': 'responsive',
                    'icon': 'fa fa-mobile-phone'
                },
                'Typography': {
                    'path': '#typography',
                    'title': 'typography',
                    'icon': 'fa fa-font'
                },
                'Table': {
                    'path': '#tables',
                    'title': 'table',
                    'icon': 'fa fa-table'
                },
                'Form': {
                    'path': '#forms',
                    'title': 'form',
                    'icon': 'fa fa-list-alt'
                }
            }}))
        }}
    {% endblock sidebar %}

    <section id="content" class="content container-fluid">
        {% block content %}

            {% block toolbarTop %}
                <div id="toolbar-top" class="toolbar panel panel-white">
                    {% block toolbarTopContent %}
                        {% block toolbarTopLeftContent %}
                        {% endblock toolbarTopLeftContent %}
                        {% block toolbarTopRightContent %}
                        {% endblock toolbarTopRightContent %}
                    {% endblock toolbarTopContent %}
                </div>
            {% endblock toolbarTop %}

            {% block flashMessage %}
                {% for flashMessage in app.session.flashbag.get('notice') %}
                    {% if flashMessage is defined %}
                        <div class="flash-notice csuccess">
                            <h4>{{ flashMessage }}</h4>
                        </div>
                    {% endif %}
                {% endfor %}
            {% endblock flashMessage %}

            <div id="main" class="panel panel-white">
                {% block subtitle %}
                    {% if subtitle is defined %}
                        <h1 class="page-title">{{ subtitle }}</h1>
                    {% elseif pagetitle is defined %}
                        <h1 class="page-title">{{ pagetitle }}</h1>
                    {% endif %}
                {% endblock subtitle %}
                {% block main %}
                {% endblock main %}
            </div><!-- END main -->

            {% block toolbarBottom %}
                <div id="toolbar-bottom" class="toolbar panel panel-white">
                    {% block toolbarBottomContent %}
                        <div class="panel-body">
                        </div>
                    {% endblock toolbarBottomContent %}
                </div>
            {% endblock toolbarBottom %}

        {% endblock content %}
        <hr class="eop" />
    </section><!-- END content -->

{% endblock container %}
