{% extends 'MesdPresentationBundle::splash.html.twig' %}

{% block navbarContentLeft %}
{% endblock navbarContentLeft %}

{% block navbarContentRight %}
{% endblock navbarContentRight %}

{% block containerOuter %}
    <div id="container-outer" class="container-outer wrapper">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {% block subtitle %}
                        {% if subtitle is defined %}
                            <h1 class="page-title">{{ subtitle|raw }}</h1>
                        {% elseif pageTitle is defined %}
                            <h1 class="page-title">{{ pageTitle|raw }}</h1>
                        {% else %}
                            <h1><span class="fa fa-lock"></span>&nbsp; {{ mesd_presentation_app_name }} Login</h1>
                        {% endif %}
                    {% endblock subtitle %}
                </div>
                <div class="modal-body">
                    {% block panelBody %}
                        {% include 'MesdPresentationBundle:Block:flash.html.twig' %}
                        {#} See:
                                http://symfony.com/doc/current/cookbook/security/remember_me.html#forcing-the-user-to-re-authenticate-before-accessing-certain-resources
                            for more information
                        {#}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <div class="alert alert-warning" role="alert">
                                <button type="button" class="close" data-dismiss="alert">
                                    <span aria-hidden="true">&times;</span>
                                    <span class="sr-only">Close</span>
                                </button>
                                <span class="fa fa-exclamation-circle"></span>
                                <strong>Already logged in!</strong> Logged in as {{ app.user.username }}
                            </div>
                        {% else %}
                            {% if error %}
                                <div class="alert alert-danger alert-dismissible" role="alert">
                                    <button type="button" class="close" data-dismiss="alert">
                                        <span aria-hidden="true">&times;</span>
                                        <span class="sr-only">Close</span>
                                    </button>
                                    <span class="fa fa-exclamation-triangle"></span>
                                    <strong>Error!</strong> {{ error.messageKey }}
                                </div>
                            {% endif %}
                            <form action="{{ routeHelper(mesd_presentation_login_check_path) }}" method="post" role="form">
                                <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                                <div class="form-group">
                                    <label for="username">Username</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="fa fa-user"></span></div>
                                        <input
                                            type="text"
                                            id="username"
                                            name="_username"
                                            class="form-control"
                                            placeholder="Username"
                                            value="{{ last_username }}"
                                            {% if last_username is empty %}autofocus{% endif %}
                                            required
                                        />
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label for="password">Password</label>
                                    <div class="input-group">
                                        <div class="input-group-addon"><span class="fa fa-key"></span></div>
                                        <input
                                            type="password"
                                            id="password"
                                            name="_password"
                                            class="form-control"
                                            placeholder="Password"
                                            {% if last_username is not empty %}autofocus{% endif %}
                                            required
                                        />
                                    </div>
                                </div>
                        {% endif %}
                    {% endblock panelBody %}
                </div>
                <div class="modal-footer">
                    {% block panelFooter %}
                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                            <div class="row">
                                <div class="col-xs-5-12">
                                    <a href=".." title="Home" class="btn btn-default form-control">
                                        <span class="fa fa-home"></span>&nbsp;
                                        Go to home
                                    </a>
                                </div>
                                <div class="col-xs-5-12 col-xs-offset-1-6">
                                    <a href="{{ routeHelper(mesd_presentation_logout_path) }}" title="Logout" class="btn btn-default form-control">
                                        <span class="fa fa-sign-out"></span>&nbsp;
                                        Logout
                                    </a>
                                </div>
                            </div>
                        {% else %}
                                {% if mesd_presentation_allow_registration %}
                                    <a href="{{ routeHelper(mesd_presentation_registration_path) }}" class="btn btn-link">{{ mesd_presentation_registration_text }}</a>
                                {% endif %}
                                {% if mesd_presentation_allow_password_reset %}
                                    <a href="{{ routeHelper(mesd_presentation_password_reset_path) }}" class="btn btn-link">{{ mesd_presentation_password_reset_text }}</a>
                                {% endif %}
                                <button type="submit" name="login" class="btn btn-primary"><span class="fa fa-sign-in"></span> Login</button>
                            </form>
                        {% endif %}
                    {% endblock panelFooter %}
                </div>
            </div>
        </div>
    </div>

{% endblock containerOuter %}

{#}
    <div class="section section-splash section-splash-medium">
        <div class="section-header">
            {% block subtitle %}
                {% if subtitle is defined %}
                    <h1 class="page-title">{{ subtitle|raw }}</h1>
                {% elseif pagetitle is defined %}
                    <h1 class="page-title">{{ pagetitle|raw }}</h1>
                {% else %}
                    <h1><span class="fa fa-lock"></span>&nbsp; {{ mesd_presentation_app_name }} Login</h1>
                {% endif %}
            {% endblock subtitle %}
        </div>
        <div class="section-body">
            {% block panelBody %}
                {} See:
                        http://symfony.com/doc/current/cookbook/security/remember_me.html#forcing-the-user-to-re-authenticate-before-accessing-certain-resources
                    for more information
                {}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="alert alert-warning" role="alert">
                        <button type="button" class="close" data-dismiss="alert">
                            <span aria-hidden="true">&times;</span>
                            <span class="sr-only">Close</span>
                        </button>
                        <span class="fa fa-exclamation-circle"></span>
                        <strong>Already logged in!</strong> Logged in as {{ app.user.username }}
                    </div>
                {% else %}
                    {% if error %}
                        <div class="alert alert-danger alert-dismissible" role="alert">
                            <button type="button" class="close" data-dismiss="alert">
                                <span aria-hidden="true">&times;</span>
                                <span class="sr-only">Close</span>
                            </button>
                            <span class="fa fa-exclamation-triangle"></span>
                            <strong>Error!</strong> {{ error.messageKey }}
                        </div>
                    {% endif %}
                    <form action="{{ routeHelper(mesd_presentation_login_check_path) }}" method="post" role="form">
                        <input type="hidden" name="_csrf_token" value="{{ csrf_token }}" />
                        <div class="form-group">
                            <label for="username">Username</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="fa fa-user"></span></div>
                                <input
                                    type="text"
                                    id="username"
                                    name="_username"
                                    class="form-control"
                                    placeholder="Username"
                                    value="{{ last_username }}"
                                    {% if last_username is empty %}autofocus{% endif %}
                                    required
                                />
                            </div>
                        </div>
                        <div class="form-group">
                            <label for="password">Password</label>
                            <div class="input-group">
                                <div class="input-group-addon"><span class="fa fa-key"></span></div>
                                <input
                                    type="password"
                                    id="password"
                                    name="_password"
                                    class="form-control"
                                    placeholder="Password"
                                    {% if last_username is not empty %}autofocus{% endif %}
                                    required
                                />
                            </div>
                        </div>
                {% endif %}
            {% endblock panelBody %}
        </div>
        <div class="section-footer">
            {% block panelFooter %}
                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                    <div class="row">
                        <div class="col-xs-5-12">
                            <a href=".." title="Home" class="btn btn-default form-control">
                                <span class="fa fa-home"></span>&nbsp;
                                Go to home
                            </a>
                        </div>
                        <div class="col-xs-5-12 col-xs-offset-1-6">
                            <a href="{{ routeHelper(mesd_presentation_logout_path) }}" title="Logout" class="btn btn-default form-control">
                                <span class="fa fa-sign-out"></span>&nbsp;
                                Logout
                            </a>
                        </div>
                    </div>
                {% else %}
                        {% if mesd_presentation_allow_registration %}
                            <a href="{{ routeHelper(mesd_presentation_registration_path) }}" class="btn btn-link">{{ mesd_presentation_registration_text }}</a>
                        {% endif %}
                        {% if mesd_presentation_allow_password_reset %}
                            <a href="{{ routeHelper(mesd_presentation_password_reset_path) }}" class="btn btn-link">{{ mesd_presentation_password_reset_text }}</a>
                        {% endif %}
                        <button type="submit" name="login" class="btn btn-primary"><span class="fa fa-sign-in"></span> Login</button>
                    </form>
                {% endif %}
            {% endblock panelFooter %}
        </div>
    </div>
{#}