{% if 'inline' == type %}
    {% set sidebarclass = 'sidebar sidebar-inline' %}
{% elseif 'dropdown' == type %}
    {% set sidebarclass = 'sidebar sidebar-dropdown' %}
{% else %}
    {% set sidebarclass = 'sidebar' %}
{% endif %}
{% if 'dropdown' == type %}
    <div class="navbar">
        <div class="btn btn-navbar" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div><!-- END btn-navbar -->
        <div class="nav-collapse sidebar-collapse">
        {% endif %}

        <ul class="nav">
            {% for text, item in menu %}
                {#  set currentPath = path(route)
                    split the currentPath and v['path']
                    do a for loop on path
                    if each value of currentPath is found in v['path']
                    set to active
                    if not, don't set active
                    ----------------------------------------------------
                    this method is checking that all child paths match
                    for example:

                    if menu path was /foo/bar/
                    for each current path:
                        menu         | current         | pass/fail
                        -------------+-----------------+----------
                        /foo/bar     | /foo/bar        | PASS
                        /foo/bar     | /foo/foo/bar    | FAIL
                        /foo/bar     | /foo/bar/new    | PASS
                        /foo/bar     | /foo/bar/1/edit | PASS
                        /foo/bar/new | /foo/bar        | FAIL

                        #}
                {#}
                {% if path(route) == item.path %}
                    <li class="active">
                {% else %}
                    <li>
                {% endif %}
                {#}
                {#{ path(route)|split(item.path) }#}
                <li{% if item.active is defined and item.active == true %} class="active"{% endif %}>
                    <a href="{{ item.path }}" title="{% if item.title is defined %}{{ item.title }}{% else %}{{ title }}{% endif %}">
                        <span class="sidebar-item-icon">
                            {% if '<span' in item.icon %}{{ item.icon|raw }}{% else %}<span class="fa {{ item.icon }}"></span>{% endif %}
                        </span>
                        <span class="sidebar-item-label">
                            {{ item.text is defined ? item.text : text }}
                        </span>
                    </a>
                </li>
            {% endfor %}
            <li id="rest-of-sidebar" class="" style="height:100%;">

            </li>
        </ul>

        {% if 'dropdown' == type %}
        </div><!-- END nav-collapse -->
    </div><!-- END navbar -->
{% endif %}

{% include 'MesdPresentationBundle::sidebarshim.html.twig' %}