{% import _self as ulli %}

{% if 'inline' == type %}
    {% set sidebarclass = 'sidebar sidebar-inline' %}
{% elseif 'dropdown' == type %}
    {% set sidebarclass = 'sidebar sidebar-dropdown' %}
{% else %}
    {% set sidebarclass = 'sidebar' %}
{% endif %}
{% if 'dropdown' == type %}
    <div class="navbar">
        <div class="btn btn-navbar" data-toggle="collapse" data-target=".sidebar-collapse">
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </div><!-- END btn-navbar -->
        <div class="nav-collapse sidebar-collapse">
{% endif %}

<nav>
    {% block sidebarMenu %}
        {{ ulli.maker(menu) }}
        {% block sidebarToggle %}
            <div id="sidebar-toggle" class="sidebar-item-toggle">
                <span class="fa fa-chevron-circle-left"></span>
            </div>
        {% endblock sidebarToggle %}
    {% endblock sidebarMenu %}
</nav>

{% if 'dropdown' == type %}
        </div><!-- END nav-collapse -->
    </div><!-- END navbar -->
{% endif %}

{#}
{% block sidebarshim %}
    <div class="sidebar-" style="left: {{app.request.cookies.get('MesdPresentationSidebarSize')}}px;">
        <div class="drag-bar-handle">
            <span class="dot"></span>
            <span class="dot"></span>
            <span class="dot"></span>
        </div><!-- END drag-bar-handle -->
    </div><!-- END drag-bar -->
{% endblock sidebarshim %}
{#}

{% macro maker(list) %}
    {% import _self as ulli %}
        <ul class="nav">
            {% for text, item in list %}
                <li{% if item.active is defined and item.active == true %} class="active"{% endif %}>
                    <a href="{{ item.path is null ? '#' : item.path }}" title="{{ item.title is defined ? item.title : title }}">
                        <span class="sidebar-item-icon fa {{ item.icon }}"></span>
                        <span class="sidebar-item-label">
                            {{ item.text is defined ? item.text : text }}
                        </span>
                    </a>
                    {% if item.children is defined and 0 < item.children|length %}
                        {{ ulli.maker(item.children) }}
                    {% endif %}
                </li>
            {% endfor %}
        </ul>
{% endmacro %}