<ul class="nav navbar-nav navbar-user-menu">
    <li class="dropdown">
        <a href="#" class="dropdown-toggle" data-toggle="dropdown">
            <img src="{{ '40x40'|placeholder }}" title="{{ 'username' }}" class="navbar-gravatar" />
            {{ 'username' }} <b class="caret"></b>
        </a>
        <ul class="dropdown-menu">
            <li><a href="{{ routeHelper(mesd_presentation__user_profile_path) }}"><span class="fa fa-user fa-fw"></span> Profile <span class="text-muted pull-right">Ctrl+R</span></a></li>
            <li><a href="{{ routeHelper(mesd_presentation__user_settings_path) }}"><span class="fa fa-cog fa-fw"></span> Settings <span class="text-muted pull-right">Ctrl+X</span></a></li>
            <li><a href="{{ routeHelper(mesd_presentation__logout_path) }}"><span class="fa fa-sign-out fa-fw"></span> Logout <span class="text-muted pull-right">Ctrl+Q</span></a></li>
        </ul>
    </li>
</ul>
