{% extends 'MesdPresentationBundle::splash.html.twig' %}

{% block navbarContentLeft %}
{% endblock navbarContentLeft %}

{% block navbarContentRight %}
{% endblock navbarContentRight %}

{% block containerOuter %}

    <div id="container-outer" class="container-outer wrapper">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {% block subtitle %}
                        {% if subtitle is defined %}
                            <h1 class="page-title">{{ subtitle|raw }}</h1>
                        {% elseif pagetitle is defined %}
                            <h1 class="page-title">{{ pagetitle|raw }}</h1>
                        {% else %}
                            <h1><span class="fa fa-lock"></span>&nbsp; {{ mesd_presentation_app_name }} Password Reset</h1>
                        {% endif %}
                    {% endblock subtitle %}
                </div>
                
                {% block mesd_user_content %}
                
                    <form action="{{ path('mesd_user_reset_reset', {'token': token}) }}" {{ form_enctype(form) }} method="POST" class="mesd_user_reset_reset">
                        {{ form_widget(form) }}

                        <div class="modal-body">
                            {% block panelBody %}

                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <div class="alert alert-warning alert-dismissible" role="alert">
                                        <button type="button" class="close" data-dismiss="alert">
                                            <span aria-hidden="true">&times;</span>
                                            <span class="sr-only">Close</span>
                                        </button>
                                        <span class="fa fa-exclamation-triangle"></span>&nbsp;
                                        <strong>{{ 'already.logged.in'|trans }}!</strong>
                                        {{ 'logged.in.as.username'|trans({'%username%': app.user.username}) ~ '.' }}
                                    </div>
                                {% endif %}

                                {% if form_errors is defined or invalid_username is defined %}
                                    {% if form_errors is defined and form_errors %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert">
                                                <span aria-hidden="true">&times;</span>
                                                <span class="sr-only">Close</span>
                                            </button>
                                            <span class="fa fa-exclamation-triangle"></span>&nbsp; <strong>{{ 'error'|trans ~ '!' }}</strong>
                                                {% if form-errors %}{{ form_errors }}{% endif %}
                                        </div>
                                    {% endif %}
                                    {% if invalid_username is defined and invalid_username %}
                                        <div class="alert alert-danger alert-dismissible" role="alert">
                                            <button type="button" class="close" data-dismiss="alert">
                                                <span aria-hidden="true">&times;</span>
                                                <span class="sr-only">Close</span>
                                            </button>
                                            <span class="fa fa-exclamation-triangle"></span>&nbsp; <strong>{{ 'error'|trans ~ '!' }}</strong>
                                                {% if invalid_username %}{{ 'username.not.found'|trans({'%username%': invalid_username}) }}{% endif %}
                                        </div>
                                    {% endif %}
                                {% endif %}

                                <div class="form-group">
                                    {#}
                                    {{ form_label(form.credential, 'username'|trans) }}
                                    <div class="input-group">
                                        <div class="input-group-addon">
                                            <span class="fa fa-user"></span>
                                        </div>
                                        {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                            {{ form_widget(form.credential, {
                                                'value': app.user.username,
                                                'attr': {
                                                    'class':       'form-control',
                                                    'placeholder': 'username'|trans,
                                                    'disabled':    'disabled',
                                            } }) }}
                                        {% else %}
                                            {{ form_widget(form.credential, {
                                                'attr': {
                                                    'class':       'form-control',
                                                    'placeholder': 'username'|trans,
                                                    'tabindex':    1,
                                                    'autofocus':   'autofocus'
                                            } }) }}
                                        {% endif %}
                                    </div>
                                    {#}
                                </div>

                            {% endblock panelBody %}
                        </div>

                        <div class="modal-footer">
                            {% block panelFooter %}

                                <div class="row">
                                    {#}
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <div class="col-xs-5-12">
                                            <a href="{{ path(mesd_presentation_home_path) }}" title="home" class="btn btn-default form-control" tabindex="3">
                                                <span class="fa fa-home"></span>&nbsp;
                                                {{ 'home'|trans }}
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="col-xs-5-12">
                                            <a href="{{ path(mesd_presentation_login_path) }}" title="login" class="btn btn-default form-control" tabindex="3">
                                                <span class="fa fa-reply"></span>&nbsp;
                                                {{ 'login'|trans }}
                                            </a>
                                        </div>
                                    {% endif %}
                                    {#}
                                    <div class="col-xs-5-12 col-xs-offset-1-6">
                                        {#<input type="submit" value="{{ 'reset.reset.submit'|trans }}" />#}
                                        {{ form_widget(form.submit, {
                                            'label': 'reset.password'|trans,
                                            'icon': 'key',
                                            'attr': {
                                                'class': 'form-control btn btn-primary',
                                                'tabindex': 2
                                        }}) }}
                                    </div>
                                </div>
                                {{ form_rest(form) }}

                            {% endblock panelFooter %}
                        </div>

                    </form>
            
                {% endblock mesd_user_content %}
            
            </div>
        </div>
    </div>

{% endblock containerOuter %}
{#}
    {% if mesd_presentation_allow_password_reset %}
        <a href="{{ routeHelper(mesd_presentation_password_reset_path) }}" class="btn btn-link">{{ mesd_presentation_password_reset_text }}</a>
    {% endif %}
{#}