{% extends 'MesdPresentationBundle::splash.html.twig' %}
{% trans_default_domain "mesd_presentation" %}

{% block navbarContentLeft %}
{% endblock navbarContentLeft %}

{% block navbarContentRight %}
{% endblock navbarContentRight %}

{% block containerOuter %}

    <div id="container-outer" class="container-outer wrapper">
        <div class="modal-dialog">
            <div class="modal-content">
                <div class="modal-header">
                    {% block subtitle %}
                        {% if subtitle is defined %}
                            <h1 class="page-title">{{ subtitle|raw }}</h1>
                        {% elseif pagetitle is defined %}
                            <h1 class="page-title">{{ pagetitle|raw }}</h1>
                        {% else %}
                            <h1>
                                <span class="fa fa-lock"></span>&nbsp;
                                {{ '%app%.password.reset'|trans({'%app%': mesd_presentation_app_name}) }}
                            </h1>
                        {% endif %}
                    {% endblock subtitle %}
                </div>
                
                {% block mesd_user_content %}

                        <div class="modal-body">
                            {% block panelBody %}

                                {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                    <div class="alert alert-warning" role="alert">
                                        <span class="fa fa-exclamation-triangle"></span>&nbsp;
                                        <strong>{{ 'warning'|trans }}!</strong>
                                        {{ 'already.logged.in.as.username'|trans({'%username%': app.user.username}) ~ '.' }}
                                    </div>
                                {% endif %}
                                
                                <div class="alert alert-success" role="alert">
                                    <span class="fa fa-check-circle"></span>&nbsp;
                                    <strong>{{ 'success'|trans }}!</strong>
                                    {{ 'password.is.reset'|trans }}.
                                </div>

                            {% endblock panelBody %}
                        </div>

                        <div class="modal-footer">
                            {% block panelFooter %}

                                <div class="row">
                                    {% if is_granted("IS_AUTHENTICATED_REMEMBERED") %}
                                        <div class="col-xs-5-12">
                                            <a href="{{ path(mesd_presentation_home_path) }}" title="home" class="btn btn-default form-control">
                                                <span class="fa fa-home"></span>&nbsp;
                                                {{ 'home'|trans }}
                                            </a>
                                        </div>
                                        <div class="col-xs-5-12">
                                            <a href="{{ path(mesd_presentation_login_path) }}" title="login" class="btn btn-default form-control">
                                                <span class="fa fa-reply"></span>&nbsp;
                                                {{ 'login'|trans }}
                                            </a>
                                        </div>
                                    {% else %}
                                        <div class="col-xs-1-1">
                                            <a href="{{ path(mesd_presentation_login_path) }}" title="login" class="btn btn-default form-control">
                                                <span class="fa fa-reply"></span>&nbsp;
                                                {{ 'login'|trans }}
                                            </a>
                                        </div>
                                    {% endif %}
                                </div>

                            {% endblock panelFooter %}
                        </div>
            
                {% endblock mesd_user_content %}
            
            </div>
        </div>
    </div>

{% endblock containerOuter %}
{#}
    {% if mesd_presentation_allow_password_reset %}
        <a href="{{ routeHelper(mesd_presentation_password_reset_path) }}" class="btn btn-link">{{ mesd_presentation_password_reset_text }}</a>
    {% endif %}
{#}